* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    height: 50px; /* Set a fixed height for the list items */
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 22px;
}

li a:hover {
    background-color: #111;
}

li img {
    width: 100px;
    height: inherit;
    align-items: center;
}

header{
    background-color: darkcyan;
}

header img{
    width: 500px;
    display: block;
    margin: 0 auto;
    padding: 50px;
    padding-bottom: 5px;
}

header p{
    text-align: center;
    color: white;
    font-size: 35px;
    margin-top: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}


.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

/* Apply some basic styles to the table */
table {
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto; /* Center the table horizontally */
    margin-bottom: 20px;
}

/* Style the table header */
th {
    background-color: #333;
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
    color:white;
    word-spacing: 2px;
}

/* Style the table rows */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

/* Style table cells */
td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}

/* Add some spacing between table cells */
td, th {
    padding-left: 15px;
    padding-right: 15px;
}

.hidden {
    display: none;
}

.button-container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    margin-top: 20px; /* Adjust the margin as needed */
}

.button-container button {
    --color: #333;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
}

.button-container button::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
  }

.button-container button:hover{
    color: white;
    cursor: pointer;
}

.button-container button:before {
    top: 100%;
    left: 100%;
    transition: .3s all;
  }
  
  .button-container button:hover::before {
    top: -30px;
    left: -30px;
  }


#searchbar1{
    display: block;
    color: rgb(34, 34, 34);
    background: linear-gradient(142.99deg, rgba(217, 217, 217, 0.63) 15.53%, rgba(243, 243, 243, 0.63) 88.19%);
    box-shadow: 0px 12px 24px -1px rgba(0, 0, 0,0.18);
    border-color: rgba(7, 4, 14, 0);
    border-radius: 50px;
    block-size: 20px;
    margin: 7px auto;
    padding: 18px 15px;
    outline: none;
    text-align: center;
    width: 500px;
    transition: 0.5s;
    font-size: 25px;
}

#searchbar1[type = "text"]:hover{
    width: 600px;
}

#searchbar1[type = "text"]:focus {
    width: 600px;
  }

.searchbutton{
position:absolute;
left: 500px;
bottom: 40px;
cursor: pointer;
display: none;
}

.searchbutton:hover{
    background-color: green;
}

